header, .warn, main, aside, footer {

  padding-block: 0;
  padding-inline: var(--pad);
  margin-block: 0;
  margin-inline: auto;

  > * {
    max-inline-size: var(--maxwidth-post);
    padding: 0;
    margin-inline: auto;
  }

}

main, aside, footer {
  margin-block-start: 4em;
}

:is(header, footer, .warn) > * {
  max-inline-size: var(--maxwidth-page);
}

main > :is(h1, .full, .featured, .pagelist, .pagination), aside.related > * {
  max-inline-size: var(--maxwidth-index);
}
