header, .warn, main, aside, footer {

  padding: 0;
  margin-block: 0;
  margin-inline: auto;

  > * {
    max-inline-size: var(--maxwidth-post);
    padding: 0;
    padding-inline: var(--pad);
    margin-inline: auto;
  }

}

@media (width > 1184px) {

  .postcontent {
    padding-inline-end: calc(1184px - var(--maxwidth-post) + var(--pad) * 3);
  }

}

aside, footer {
  margin-block-start: 4em;
}

:is(header, footer, .warn) > * {
  max-inline-size: var(--maxwidth-page);
}

main > :is(h1, .postfull, .featured, .navtopic, .pagelist, .pagination), aside.related > *, .full > * {
  max-inline-size: var(--maxwidth-index);
  margin-inline: auto;
}

main > .full {
  max-inline-size: none;
  padding-block: var(--pad2);
  background-color: var(--color-fore1);

  & :first-child {
    margin-block-start: 0;
  }
}
