body.draft::before,
body.review::before {

  position: fixed;
  display: block;
  inline-size: 100vw;
  block-size: 100vh;
  line-height: 100vh;
  content: 'DRAFT';
  font-size: 20vmin;
  font-weight: bold;
  text-align: center;
  color: #aaa1;
  background-image: none;
  transform: rotate(-45deg);
  pointer-events: none;
  z-index: 1;

}

body.review::before {

  content: 'REVIEW';
  color: #c661;

}
