footer {

  position: sticky;
  inset-block-start: 100vh;
  padding-block: 3em;
  color: var(--color-back0);
  background: var(--color-fore0) url("/media/static/footer.svg") 100% 0 no-repeat;
  background-size: auto 100%;

  > * {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1em;
  }

  > *:first-child {
    justify-content: space-between;
  }

  .linklist {
    font-size: var(--fsize--2);
  }

  a:link, a:visited, .logo a, .logo strong {
    color: var(--color-back1b);
  }

  a:hover, a:active, a:focus {
    color: var(--color-back2);
  }

  .logo span {
    border-color: var(--color-back3);
  }

  hr {
    box-sizing: border-box;
    max-inline-size: 100%;
    margin-block: 3em;
    border-block-start-color: var(--color-back3);
  }

  .share {

    a:link, a:visited {
      color: var(--color-back0);
      background-color: var(--color-back5);
    }

    a:hover, a:active, a:focus {
      background-color: var(--color-back3);
    }

  }

}

.terms {
  font-family: var(--font-head);
  font-weight: var(--font-weight-head);
  margin-block-start: 1em;
}

.powered {

  p {
    font-size: var(--fsize--3);
    text-align: center;
  }

  ul, li, img {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 8px;
    margin-block-start: 8px;
  }

  li {
    inline-size: 75px;
    padding: 15px 20px;
    background-color: var(--color-back4);
    border-radius: var(--radius0);
  }

  img {
    aspect-ratio: 75 / 25;
  }

}

@media (width > 48em) {

  footer {

    > * {
      justify-content: space-between;
    }

    .linklist {
      justify-content: start;
    }

    .powered p {
      text-align: start;
    }

  }

}
