/* page header */
header {

  user-select: none;
  z-index: 1;

  > * {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: space-between;
  }

}

.warn {
  position: sticky;
  inset-block-start: 0;
  font-size: var(--vfsize--1);
  padding-block: 1em;
  background-color: var(--color-back2);
  user-select: none;
  z-index: 1;

  a {
    font-weight: var(--font-weight-bold);
    color: var(--color-fore0);
  }
}

header, footer, .warn {

  p {
    margin-block: 0;
  }

}
