/* highlighted article (home page) */
article.highlight {

  a {
    block-size: 100%;
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    gap: var(--pad);
    text-decoration: none;
    padding: var(--pad-pagelist0);
    color: var(--color-fore1);
    background-color: var(--color-back1);
    background-image: radial-gradient(ellipse farthest-corner at 50% -20% in hsl shorter hue, var(--color-hint0-trans) 10%, var(--color-hint1-trans) 40%, transparent 80%);
    border-radius: var(--radius1);

    &:hover, &:active, &:focus {
      background-color: var(--color-back2);
    }
  }

  div {
    position: relative;
  }

  img, svg {
    inline-size: 100%;
    object-fit: cover;
    margin: 0;
    border-radius: var(--radius0);
  }

  h1, h2, h3, p {
    padding-inline: calc(var(--pad-pagelist1) - var(--pad-pagelist0));
  }

  h1, h2, h3 {
    font-size: var(--fsize-3);
    margin: 0;
    margin-block-start: 1em;
    color: var(--color-fore0);
  }

  p.organization {
    font-size: var(--fsize--2);
    margin-block-start: 0.5em;
  }

  p.description {
    font-size: var(--fsize--1);
  }

  p.pubdate, p.topic {

    font-size: var(--fsize--4);
    margin-block-start: 2em;

    time, span {
      padding-inline: 0.8em;
      padding-block: 0.25em;
      color: var(--color-fore0);
      background-color: var(--color-back3);
      border-radius: var(--radius0);
    }

  }

  p.topic {

    position: absolute;
    inset-block-end: auto;
    inset-inline-start: auto;
    inset-block-start: calc(var(--pad-pagelist0));
    inset-inline-end: calc(var(--pad-pagelist0));
    padding: 0;
    margin: 0;

    span {
      margin-inline-start: 0.25em;
      background-color: var(--color-shad1);
    }

  }

}
