/* highlighted article (home page) */
article.highlight {

  a {
    block-size: 100%;
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: 1fr;
    gap: var(--pad);
    padding-block-end: 0;
    background-color: var(--color-back4);

    @media (width > 999px) {
      grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    }

    h1, h2, h3, p {
      color: var(--color-back0);
    }

    &:hover, &:active, &:focus {

      h2 {
        color: var(--color-hint4);
      }

    }

  }

  div {
    position: relative;
  }

  img, svg {
    border-radius: var(--radius1) var(--radius1) 0 0;
  }

  @media (width > 554px) {

    img, svg {
      border-radius: var(--radius1) 0 0 var(--radius1);
    }

  }

  h1, h2, h3 {
    font-size: var(--fsize-3);
  }

  .type {
    padding-inline: 0.5em;

    strong {
      display: inline-block;
    }
  }

  .topic {
    margin-block: var(--pad) 0;
    color: var(--color-hint4);
  }

  .description {
    font-size: var(--fsize--1);
    margin-block-end: 1em;
    color: var(--color-back0);
  }

  .author, .pubdate {
    position: static;
    display: inline-block;
    padding-inline-start: var(--pad);
    padding-block-end: var(--pad);
    color: var(--color-back0);
  }

}
