/* highlighted article (home page) */
article.highlight {

  a {
    block-size: 100%;
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    gap: var(--pad);
    padding-block-end: 0;
    background-color: var(--color-back4);

    h1, h2, h3, p {
      color: var(--color-back0);
    }
  }

  div {
    position: relative;
  }

  img, svg {
    border-radius: var(--radius0) 0 0 var(--radius0);
  }

  h1, h2, h3 {
    font-size: var(--fsize-3);
  }

  .type {
    padding-inline: 0.5em;

    strong {
      display: inline-block;
    }
  }

  .topic {
    margin-block: var(--pad) 0;
    color: var(--color-back2);
  }

  .description {
    font-size: var(--fsize--1);
    margin-block-end: 1em;
    color: var(--color-back0);
  }

  .author, .pubdate {
    position: static;
    display: inline-block;
    padding-inline-start: var(--pad);
    color: var(--color-back0);
  }

}
