.linklist {

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  gap: 0.6em 1em;
  margin-inline: var(--pad);

  &, li {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  * {
    padding: 0;
    margin: 0;
  }

  a:link, a:visited {
    text-decoration: none;
    color: var(--color-fore1);
  }

  a:hover, a:active, a:focus {
    color: var(--color-fore0);
  }

}
