.logo {

  padding: 0;
  margin: 0;

  a {
    display: inline-block;
    text-decoration: none;
    color: var(--color-fore0);
  }

  svg {
    vertical-align: baseline;
    inline-size: 95px;
    block-size: 26px;
  }

  span {
    display: inline-block;
    font-size: var(--fsize--4);
    padding-inline-start: 1rem;
    margin-inline-start: 1rem;
    color: var(--color-fore2);
    border-inline-start: 1px solid var(--color-back2);
  }

  strong {
    display: block;
    font-size: var(--fsize-1);
    font-weight: 500;
    line-height: 1;
    color: var(--color-fore0);
  }

}

.home {

  display: none;
  font-family: var(--font-head);
  font-weight: var(--font-weight-head);

  @media (width > 34em) {
    display: inline-block;
  }

}
