/* lists of pages */
.pagelist {
  margin-block: var(--pad);
}

.pagelist article, article.highlight {

  @supports (animation-delay: 1s) {

    &.animatein {
      opacity: 0;
      animation: 0.5s cubic-bezier(.7,-0.5,.3,1.5) calc(var(--pagelist-index, 0) * 0.05s) forwards pagelist-in;
    }

  }

  a {
    box-sizing: border-box;
    position: relative;
    display: block;
    block-size: 100%;
    text-decoration: none;
    padding: 0;
    padding-block-end: calc(var(--pad-pagelist0) + 3em);
    color: var(--color-fore1);
    background-color: var(--color-back1);
    border-radius: var(--radius1);
    overflow: hidden;

    &:hover, &:active, &:focus {

      figure img, figure svg {
        scale: 1.1;
      }

      h2 {
        color: var(--color-back3);
      }

    }
  }

  figure {
    margin: 0;
    overflow: hidden;
  }

  img, svg {
    inline-size: 100%;
    aspect-ratio: 16 / 9;
    object-fit: cover;
    padding: 0;
    margin: 0;
    object-position: 0 0;
    transform-origin: 0 0;
    transition: scale 0.4s ease-out;
  }

  h1, h2, h3, p {
    padding-inline: var(--pad);
  }

  h1, h2, h3 {
    font-size: var(--fsize-1);
    margin: 0;
    margin-block-start: 0.2em;
    color: var(--color-fore0);
  }

  .topic {
    font-family: var(--font-head);
    font-size: var(--fsize--3);
    font-weight: var(--font-weight-head);
    color: var(--color-back3);
  }

  .description {
    font-size: var(--fsize--2);
    line-height: 1.2;
    margin-block-start: 0.5em;
    color: var(--color-fore2);
  }

  .type {

    position: absolute;
    font-size: var(--fsize--2);
    min-inline-size: 2em;
    inset-block-start: var(--pad);
    inset-inline-end: var(--pad);
    padding: 0 0 2px 0;
    margin: 0;
    text-align: center;
    vertical-align: middle;
    color: var(--color-fore0);
    background-color: var(--color-back2);
    border-radius: var(--radius2);

    svg {
      display: inline-block;
      inline-size: 1em;
      block-size: 1em;
    }

    strong {
      display: none;
      font-weight: var(--font-weight-normal);
    }

  }

  .author, .pubdate {

    position: absolute;
    max-inline-size: 40%;
    font-size: var(--fsize--4);
    padding: 0;
    margin: 0;
    color: var(--color-fore2);

    inset-block-end: var(--pad-pagelist1);
    inset-inline-start: var(--pad-pagelist1);

    svg {
      display: inline-block;
      vertical-align: middle;
      inline-size: 1.3em;
      block-size: 1.3em;
      margin-inline-end: 0.2em;
    }

  }

  .pubdate {
    inset-inline-start: auto;
    inset-inline-end: var(--pad-pagelist1);
  }

}

@keyframes pagelist-in {
  0% {
    opacity: 0;
    transform: translateY(15vh);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
