.navtopic {

  margin-block: var(--pad);

  ul, li {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-family: var(--font-head);
    font-size: var(--fsize--2);
    font-weight: var(--font-weight-head);
  }

  li {
    flex: 1 1 0%;
    background-color: var(--color-back1a);

    &:first-child {
      padding-inline-start: 4px;
    }
  }

  a:link, a:visited {
    display: block;
    inline-size: auto;
    text-align: center;
    text-decoration: none;
    padding-block: 0.2em;
    margin: 4px 4px 4px 0;
    color: var(--color-fore0);
    border: 2px solid transparent;
    border-radius: var(--radius0);
  }

  li.active a, a:hover, a:active, a:focus {
    background-color: var(--color-back1c);
  }

  li.order {

    flex: 1 1 100%;
    background-color: var(--color-back0);

    a {

      inline-size: auto;
      block-size: auto;
      border: 2px solid var(--color-back1a);

      &::after {
        display: inline-block;
        content: '';
        background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m10 6 6 6-6 6"/></svg>');
        inline-size: 1em;
        block-size: 1em;
        vertical-align: middle;
        margin-inline-start: 0.2em;
        rotate: 90deg;
        transition: rotate 0.3s ease-out;
      }

      &.old::after {
        rotate: -90deg;
      }

    }

    a:hover, a:active, a:focus {
      &::after { rotate: -450deg; }
      &.old::after { rotate: 450deg; }
    }

  }

  @media (width > 38em) {

    li {
      flex: 0 0 6em;
    }

    li.order {
      flex: 0 0 9em;
      margin-inline-start: auto;
    }

  }

}
