/* <nav-heading> web component */
.pagecontents {

  display: block;
  font-size: var(--fsize--1);
  margin-block: 1.5em;

  .contents {
    margin-block-start: 0.5em;
  }

  li {
    padding-block-end: 2px;
    margin-block: 0.1em;
  }

  a.active, a.active code {
    color: var(--color-fore2);
  }

  @media (width > 1365px) and (height > 600px) {

    position: fixed;
    inset-block-start: auto;
    inset-block-end: auto;
    inset-inline-start: auto;
    inset-inline-end: 0;
    inline-size: auto;
    margin-block: 0;
    overflow-y: auto;

    & > details {
      margin-block: var(--layout-margin);
      margin-inline-start: 0.8em;
    }

  }

}
