/* post foot */
.postfoot .postcontent {

  > * {
    padding: var(--pad);
    margin: 0;
    background-color: var(--color-back1);

    &:last-child {
      padding-block-end: var(--pad);
    }
  }

  > div {
    display: flex;
    flex-wrap: wrap;
    padding-block: 0;
  }

  h2 {
    font-size: var(--fsize-0);

    svg {
      inline-size: 1em;
      color: var(--color-back3);
    }
  }

  hr {
    margin-block-start: 1.5em;
    border-block-start-color: var(--color-back1b);
  }

  p {
    margin-inline-end: 1em;
  }

  .share {

    a:link, a:visited {
      background-color: var(--color-hint0-trans);
    }

    a:hover, a:active, a:focus {
      background-color: var(--color-back5);
    }

  }

}
