/* post title */
.title {

  margin-block-start: 3em;

  > .linklist {
    margin-block-start: 2em;

    @media (width > 40rem) {

      .linklist {
        margin-inline-start: auto;
      }

    }
  }

}

.topic {
  font-size: var(--fsize--2);

  a {
    text-decoration: none;
  }

}

.author, .readtime, .pubdate {
  font-size: var(--fsize--3);
  color: var(--color-fore1);

  svg {
    inline-size: auto;
  }
}

.hero {
  margin-block-start: 3em;
  margin-block-end: 5em;
}
