/* related posts */
.related {

  position: relative;
  margin-block-start: 0;
  padding-block-start: 2rem;
  background-image: linear-gradient(180deg, transparent 0%, var(--color-back0) 30px, var(--color-back0) 100%);

  hr {
    box-sizing: border-box;
    border-color: var(--color-back1);
  }

  > h2 {
    font-size: var(--fsize-2);
  }

  > p {
    color: var(--color-fore1);
    margin-block-start: 0.5em;
  }

}
