/* post title */
.title {

  margin-block-start: 3em;

  > .linklist {
    justify-content: space-between;
    text-align: start;
    margin-block-start: 2em;

    p {
      display: inline-block;
      margin-inline-end: 1em;
    }

    @media (width > 40rem) {

      .linklist {
        margin-inline-start: auto;
      }

    }
  }

}

.topic {
  font-size: var(--fsize--2);

  a:link, a:visited {
    text-decoration: none;
    color: var(--color-back4);
  }

  a:hover, a:active, a:focus {
    color: var(--color-back3);
  }

  span {
    margin-inline: 0.6em;
  }

}

.author, .readtime, .pubdate {
  font-size: var(--fsize--3);
  color: var(--color-fore1);

  svg {
    inline-size: auto;
  }
}

.hero {
  margin-block-start: 3em;
  margin-block-end: 5em;
}
