/* share icons */
.share {

  gap: 12px;

  span {
    display: none;
  }

  a, li, svg {
    padding: 0;
    margin: 0;
  }

  svg {
    display: block;
    inline-size: 20px;
    block-size: 20px;
    padding: 8px;
  }

  a:link, a:visited {
    display: block;
    color: var(--color-fore0);
    background-color: var(--color-back1);
    border-radius: var(--radius0);
  }

  a:hover, a:active, a:focus {
    color: var(--color-back0);
    background-color: var(--color-back5);
  }

}
