<ul class="share linklist">

  <li hidden><a href="#shareapp" title="share via an app"><svg width="30" height="30"><use xlink:href="#icon-share"></use></svg> <span>App</span></a></lihidden>

  <li><a href="https://x.com/intent/tweet?url=${ encodeURIComponent(tacs.config.domain + data.link) }&amp;text=${ encodeURIComponent(data.title) }&amp;via=tezos" title="share on x.com" target="_blank" rel="noopener"><svg width="30" height="30"><use xlink:href="#icon-x"></use></svg> <span>X.com</span></a></li>

  <li><a href="https://www.reddit.com/submit/?url=${ encodeURIComponent(tacs.config.domain + data.link) }&amp;text=${ encodeURIComponent(data.title) }" title="share on Reddit" target="_blank" rel="noopener"><svg width="30" height="30"><use xlink:href="#icon-reddit"></use></svg> <span>Reddit</span></a></li>

  <li><a href="https://t.me/share/url?url=${ encodeURIComponent(tacs.config.domain + data.link) }&amp;text=${ encodeURIComponent(data.title) }" title="share on Telegram" target="_blank" rel="noopener"><svg width="30" height="30"><use xlink:href="#icon-telegram"></use></svg> <span>Telegram</span></a></li>

  <li><a href="mailto:?subject=${ encodeURIComponent(data.title) }&amp;body=${ encodeURIComponent(tacs.config.domain + data.link) }" title="share via email" rel="noopener"><svg width="30" height="30"><use xlink:href="#icon-email"></use></svg> <span>Email</span></a></li>

</ul>
