<section class="title">

  ${ include('_post/topic.html') }

  <h1 id="title-${ data.id }">${ tacs.fn.format.title( data.title ) }</h1>

  ${ data.showDescription && data.description ? `<p class="description">${ data.description }</p>` : '' }

  ${ data.index ? `
    <div class="linklist">

      ${ include('_post/date.html') }

      ${ include('_post/readtime.html') }

      ${ include('_post/share.html') }

    </div>
  ` : '' }

  ${ data.imageHero ? `<figure id="hero-${ data.id }" class="hero"><img src="${ data.imageHero }" alt="${ data.imageAlt || 'article image' }" loading="eager" fetchpriority="high"></figure>` : '' }

</section>
