<header>

  <div>

    <p class="logo">

      <a href="https://uranium.io/" title="return to the Uranium.io home page">
        <svg class="uranium" width="160"><use xlink:href="#uraniumlogo"></use></svg>
      </a><a href="${ tacs.root }" title="${ tacs.config.title }">
        ${ tacs.config.footerTitle ? `<span><strong>${ tacs.config.footerTitle }</strong>${ tacs.config.footerContent }</span>` : '' }
      </a>

    </p>

    <p class="home">
      <a href="https://uranium.io/" title="return to the Uranium.io home page" class="button">Uranium.io<svg width="20"><use xlink:href="#arr-ur"></use></svg></a>
    </p>

  </div>

</header>

<div class="warn">
  <p>Don't invest unless you're prepared to lose all the money you invest. This is a high-risk investment and you should not expect to be protected if something goes wrong. <a href="https://uranium.io/risk-summary">Take 2 mins to learn more&hellip;</a></p>
</div>
