<nav class="navtopic">

  <ul>

    <li${ data.isGroupIndex === 'all' || data.isGroupIndex === 'all-old' ? ' class="active"' : '' }><a href="${ tacs.root }">All</a></li>

    ${ (tacs.config.topic || []).map(t => t && `<li${ data.isGroupIndex === t.name || data.isGroupIndex === t.name + '-old' ? ' class="active"' : '' }><a href="${ tacs.config.topicRoot }${ t.slug }/">${ t.name }</a></li>`) }

    <li class="order">${
      data.link.endsWith('/old/') ?
        `<a href="${ data.link.replace('/old/', '/') }" class="old" title="show newest first">Oldest First</a>` :
        `<a href="${ data.link }old/" class="new" title="show oldest first">Newest First</a>`
    }</li>

  </ul>

</nav>
